<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/USER/IdeaProjects/Jenkins_Demo">
        <classes>
            <class name="com.Jenkins_Demo.test.SimpleTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>